@import url("https://fonts.googleapis.com/css2?family=Mitr&display=swap");

.app {
  font-family: "Mitr";
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Mitr&display=swap");
}
